@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.flyout-menu {
  animation: opacityframe 200ms ease-out;
}

.backdrop-animation {
  animation: opacityframe 300ms ease linear;
}

@keyframes opacityframe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidenav {
  animation: navbar 300ms ease-in-out;
}

@keyframes navbar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0px);
  }
}
